<div class="container">
  <div class="left-panel">
    <app-loan-form (formSubmit)="onLoanFormSubmit($event)"></app-loan-form>
  </div>
  <div class="right-panel" *ngIf="chartData">
    <app-loan-chart
      [loanData]="chartData.loan_data"
      [normalEMI]="chartData.normal_emi"
      [totalMoneySaved]="chartData.total_money_saved"
      [totalInterestPaid]="chartData.total_interest_paid"
      [principalAmount]="chartData.total_principal_paid"
      [originalTenure]="chartData.original_tenure"
      [repaymentYears]="chartData.loan_data[chartData.loan_data.length - 1].repayment_years"
      [repaymentMonths]="chartData.loan_data[chartData.loan_data.length - 1].repayment_months">
    </app-loan-chart>
  </div>
</div>